:root {
    /* primary color in hex code: #2874f0*/
    --primary-color: rgb(40, 116, 240);
    --primary-dark: #1c51a8;
    --primary-light: #699ef5;
    --secondary-color: rgb(75, 85, 99);
    --light-color: rgb(249, 250, 251);
    --dark-color: rgb(17, 24, 39);
    --error-color: rgb(239, 68, 68);
    --success-color: rgb(16, 185, 129);
    --warning-color: rgb(253, 230, 138);


    /* for shades of primary color: https://maketintsandshades.com/#2874f0 */
}



/* Avatar */
.avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}


/* Alert */
.alert {
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 0.5rem;
    max-width: 20em;


}

.alert.alert-primary {
    background-color: var(--primary-color);
}

.alert.alert-secondary {
    background-color: var(--secondary-color);
}

.alert.alert-error {
    background-color: var(--error-color);
}

.alert.alert-warning {
    background-color: var(--warning-color);
}

.alert.alert-success {
    background-color: var(--success-color);
}


/* Badge */
.badge-container {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
}

.badge-container>.avatar-badge {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 10px;
    height: 10px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}

.badge-container>.avatar-badge.avatar-badge-online {
    background-color: var(--success-color);
}

.badge-container>.avatar-badge.avatar-badge-offline {
    background-color: var(--error-color);
}

.badge-container>.icon-badge {
    position: absolute;
    top: -3px;
    right: -3px;
    width: 20px;
    height: 20px;
    cursor: default;
    background-color: var(--error-color);
    color: var(--light-color);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}


/* button */
.button-primary {
    color: var(--light-color);
    background-color: var(--primary-color);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    display: inline-block;
    outline: none;
    border: none;
    height: 2.5rem;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    transition: box-shadow .2s ease;
    vertical-align: super;
    transition: box-shadow .2s ease-in-out;
}

.button-primary:hover {
    color: var(--secondary-color);
}

.button-secondary {
    color: var(--primary-color);
    background-color: var(--light-color);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    display: inline-block;
    outline: none;
    height: 2.5rem;
    border: 1px solid var(--primary-color);
    padding: 10px 20px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    transition: box-shadow .2s ease;
    vertical-align: super;
}

.button-secondary:hover {
    color: var(--secondary-color);

}

.button-tertiary {
    color: var(--primary-color);
    background-color: transparent;
    display: inline-block;
    outline: none;
    height: 2.5rem;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 17px;
    vertical-align: super;
}

.link-button.button-primary>a {
    text-decoration: none;
    width: 100%;
    color: var(--light-color);
}

.link-button.button-secondary>a {
    text-decoration: none;
    color: var(--primary-color);
}

.link-button.button-primary:hover>a,
.link-button.button-secondary:hover>a {
    color: var(--secondary-color);
}

.icon-button {
    border: none;
    font-size: 13px;
    cursor: pointer;
    outline: none;
    padding: 0px;
    height: 2.5rem;
    width: 2.5rem;
    background-color: transparent;
}

.icon-button>img {
    width: 100%;
}

.button-with-icon {
    display: flex;
    padding: 5px 10px;
    width: 6rem;
    justify-content: space-between;
    align-items: center;
}

.button-with-icon>img {
    max-height: 100%;

}



.float-button {
    position: fixed;
    bottom: 5rem;
    right: 5rem;

    color: var(--light-color);
    background-color: var(--primary-color);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    outline: none;
    border: none;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    cursor: pointer;
    font-size: 30px;
    font-weight: 500;
    transition: box-shadow .2s ease;
}

.goto-top {
    position: sticky;
    float: right;
    top: 80vh;
    right: 5rem;

    color: var(--light-color);
    background-color: var(--primary-color);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    outline: none;
    border: none;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    cursor: pointer;
    font-size: 30px;
    font-weight: 500;
    transition: box-shadow .2s ease;
}

.goto-top>a {
    color: white;
}

/* Card */

.card-container {
    /* border: 1px solid var(--secondary-color); */
    width: 15rem;
    /* padding: 1rem; */
    display: flex;
    flex-direction: column;
}

.card-container:hover {
    box-shadow: 0 3px 16px 0 rgb(0 0 0 / 11%);
}

.card-container>.card-image {
    position: relative;
}

.card-container>.card-image>img {
    max-width: 100%;
}

.card-badge {
    position: absolute;
    top: 7px;
    left: 8px;
    cursor: default;
    font-size: 14px;
    line-height: 1.45;
    font-weight: 500;
    padding: 0px 8px;
    border-radius: 2px;
    height: 20px;
    background-color: var(--error-color);
    color: var(--light-color);
}

.card-container>.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem 1rem;

}

.card-container>.card-body>.card-content {
    text-align: justify;
    font-size: 1.1rem;
}

.card-dismiss {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.45;
    font-weight: 500;
    padding: 0px 8px;
    border-radius: 2px;
    height: 20px;
    background-color: var(--light-color);
    color: var(--error-color);
}

.card-container>.card-image.overlay>img {
    opacity: 0.5;
}

.card-overlay {
    position: absolute;
    top: 20%;
    left: 20%;
    font-size: 18px;
    line-height: 1.45;
    font-weight: 500;
    padding: 0px 8px;
    border-radius: 2px;
    height: 20px;
    color: var(--dark-color);


}

.card-container-horizontal {
    border: 1px solid var(--secondary-color);
    display: flex;
    width: 30em;
    position: relative;

}

/* .card-container-horizontal>.card-horizontal-image {

} */

.card-container-horizontal>.card-horizontal-image>img {
    width: 100%;
    height: 100%;
}

.card-container-horizontal>.card-horizontal-body {
    max-width: 17rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem 1rem;
}

.card-container-horizontal>.card-horizontal-body>.card-horizontal-content {
    text-align: justify;
    font-size: 1.1rem;
}

.card-container.card-shadow {
    border: none;
    box-shadow: 0 3px 16px 0 rgb(0 0 0 / 11%);
}


/* Images */
.img-responsive {
    width: 100%;
    height: auto;

}

.img-round {
    border-radius: 50%;
}



/* Input */

.input-box {
    position: relative;
}

input:focus {
    outline: none;
}

input {
    font-size: 1em;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
    background-color: transparent;
}

input:focus:invalid {
    background: url("https://assets.digitalocean.com/labs/icons/exclamation-triangle-fill.svg") no-repeat 95% 50%;
    background-size: 25px;
}



.effect-1:focus:invalid~.focus-border {
    background-color: var(--error-color);
}

.effect-2:focus:invalid {
    color: var(--error-color);
}



.effect-1,
.effect-2 {
    border: 0;
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
}

.effect-1~.focus-border {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: 0.4s;
}

.effect-1:focus~.focus-border {
    width: 100%;
    left: 0;
    transition: 0.4s;
}



.effect-2:focus {
    padding: 5px 1rem 7px;
    transition: 0.4s;
}

.effect-2~.focus-border {
    position: absolute;
    height: 2rem;
    bottom: 0;
    left: 0;
    width: 0;
    transition: 0.4s;
}

.effect-2:focus~.focus-border {
    width: 100%;
    transition: 0.4s;
    border: 2px solid var(--primary-color);
}



/* List */

.list {
    padding: 0.5rem;
    width: fit-content;
}

.list.non-bullet {
    list-style: none;
}

.list-item {
    margin: 0.5rem;
    padding: 0.5rem;
}

.list-item:hover {
    background: var(--light-color);
    border-left: 0.2rem solid var(--primary-color);
}

.list-item-inline {
    display: inline;
    padding: 0.5rem;
}

.list-item-inline:hover {
    background: var(--light-color);
    border-bottom: 0.15rem solid var(--primary-color);
}


.list-item.item-stacked {
    margin: 0;
    padding: 1rem 0.5rem;
    border-bottom: 1px solid var(--primary-color);
    display: flex;
    align-items: center;
}

.list-item.item-stacked>img {
    margin-right: 1rem;
}

.list-item.item-stacked:hover {
    border-right: 1px solid var(--primary-color);
    /* box-shadow: 0 4px 16px 0 rgba(40, 116, 240, 0.3) */
}

.list-item.item-stacked:first-child {
    border-top: 1px solid var(--primary-color);
}


/* Navigation */

.navigation {
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation>.nav-header {
    display: inline;
    padding-left: 2rem;

}

.navigation>.nav-header>.nav-title {
    font-size: 2.5rem;
    color: var(--light-color);
}

.navigation>.nav-links {
    display: inline;
    float: right;
    font-size: 18px;
    font-weight: 500;
    padding-right: 2rem;
}

.navigation>.nav-links>a {
    display: inline-block;
    margin: 0 0.5rem;
    text-decoration: none;
    color: #efefef;
    padding: 0 1rem;
}

.navigation>.nav-links>a:hover {
    color: var(--secondary-color);
    transition: ease-out 0.3s;
}

.navigation-transparent {
    padding: 1rem;
    border: 0.13rem solid var(--primary-color);
    border-top-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 1rem;
}

.navigation-transparent>.nav-header {
    padding-left: 2rem;
}

.navigation-transparent>.nav-header>.nav-title-secondary {
    font-size: 2.5rem;
    font-weight: 550;
}

.navigation-transparent>.nav-header>.nav-title-secondary:hover {
    color: var(--primary-color);


}

.navigation-transparent>.nav-header>.nav-title-primary {
    font-size: 2.5rem;
    color: var(--primary-color);
    font-weight: 550;
}

.navigation-transparent>.nav-links {
    padding-right: 2rem;
}

.navigation-transparent>.nav-links>button {
    font-size: 1rem;
    margin: 0 1rem;
    color: black;
    font-weight: 600;
}

.navigation-transparent>.nav-links>button:hover {
    color: var(--primary-color);
    transition: ease-out 0.3s;
}

/* Modal  */

.modal-container {
    position: fixed;
    border: 2px solid var(--primary-color);
    top: 30vh;
    left: 20vw;
    background-color: var(--light-color);
    padding: 1rem;
    max-width: 40rem;
}

.modal-header {
    position: relative;
}

.modal-header>.modal-close-button {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--error-color);
    background-color: var(--light-color);
    display: inline-block;
    outline: none;
    border: none;
    height: 1.8rem;
    padding: 0rem 0.7rem;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 500;
    border: 0.12rem solid var(--error-color);
    border-radius: 0.2rem;
}

.modal-header>.modal-close-button:hover {
    color: var(--light-color);
    background-color: var(--error-color);
}

.modal-body {
    position: relative;
}

.modal-content-buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.modal-content-buttons>button {
    height: 2rem;
    margin: 0 1rem;
}




/* Grid  */

.grid-container {
    display: grid;
    border: 1px solid var(--secondary-color);
    padding: 1rem;
    margin: 1rem;
    grid-gap: 1rem;

}

.grid-container.two-col-1-1 {
    grid-template-columns: 1fr 1fr;
}

.grid-container.two-col-1-2 {
    grid-template-columns: 1fr 2fr;
}

.grid-container.two-col-2-1 {
    grid-template-columns: 2fr 1fr;
}


.basic-three-item-layout {
    grid-template-columns: 1fr 2.5fr 2.5fr;
    grid-template-areas:
        "basic-layout-side basic-layout-head basic-layout-head"
        "basic-layout-side basic-layout-body basic-layout-body"
        "basic-layout-side basic-layout-body basic-layout-body"
}

.grid-header {
    grid-area: basic-layout-head;
}

.grid-sidebar {
    grid-area: basic-layout-side;

}

.grid-content-body {
    grid-area: basic-layout-body;
}




/* Typography */

.h1 {
    font-weight: 500;
    font-size: 2rem;
    margin: 0.5rem 0;
}

.h2 {
    font-weight: 500;
    font-size: 1.6rem;
    margin: 0.4rem 0;
}

.h3 {
    font-weight: 500;
    font-size: 1.4rem;
    margin: 0.3rem 0;
}

.h4 {
    font-weight: 500;
    font-size: 1.2rem;
    margin: 0.2rem 0;
}

.h5 {
    font-weight: 500;
    font-size: 1rem;
    margin: 0.2rem 0;
}

.h6 {
    font-weight: 500;
    font-size: 0.8rem;
    margin: 0.2rem 0;
}


.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-normal {
    font-weight: normal;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.text-large {
    font-size: 1.2em;
}

.text-small {
    font-size: .9em;
}

.text-tiny {
    font-size: .8em;
}

.text-muted {
    opacity: .8;
}

a {
    text-decoration: none;
}

/* a:active {
    color: var(--primary-dark);
} */

a.link-active {
    border-bottom: 1px solid var(--primary-color);
    background-color: var(--light-color);
    padding: 0.4rem 0.2rem;
}

a.link-primary {
    color: var(--primary-color);
}

a.link-primary:focus,
a.link-primary:hover {
    color: var(--secondary-color);
}




a.link-secondary {
    color: var(--secondary-color);
}

a.link-secondary:focus,
a.link-secondary:hover,
a.link-secondary:active {
    color: var(--primary-color);
}


.divider {
    height: 0.05rem;
    background-color: rgb(40, 116, 240);
    margin: 2rem 0rem;
}



.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}


/* Toast */

.toast {
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 0.5rem;
    width: 15rem;
    background-color: var(--light-color);
}

.toast.toast-primary {
    color: rgb(22 63 130);
    background-color: rgba(40, 116, 240, 0.2);
    border-color: rgb(22 63 130);
}

.toast.toast-secondary {
    color: rgb(63 72 84);
    background-color: rgba(75, 85, 99, 0.1);
    border-color: rgb(63 72 84);
}

.toast.toast-error {
    color: rgb(134 0 0);
    ;
    background-color: rgba(239, 68, 68, 0.2);
    border-color: rgb(134 0 0);
    ;
}

.toast.toast-warning {
    color: rgb(94 75 1);
    background-color: rgba(253, 230, 138, 0.3);
    border-color: rgb(94 75 1);
}

.toast.toast-success {
    color: rgb(1 78 52);
    background-color: rgba(16, 185, 129, 0.2);
    border-color: rgb(1 78 52);
}