* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #eaf1fe;
  height: 100vh !important;
}

.navigation,
.navigation-transparent {
  padding: 0;
}
.btn-click {
  background-color: inherit;
  border: 0;
  font-size: 2rem;
  cursor: pointer;
}
.nav-header {
  display: flex;
  padding-left: 0.5rem !important;
}
.nav-header > span {
  font-size: 2rem !important;
}
.nav-links {
  display: flex;
  overflow: hidden;
  margin: 0;
}
.nav-links > button {
  margin: 0 !important;
  padding: 0 !important;
  margin-left: 0.5rem !important;
}

.docs-container {
  display: flex;
  height: calc(100% - 4rem);
}

.sidebar {
  display: none;
  overflow: hidden;
  scroll-behavior: smooth;
  height: 100%;
  overflow-y: scroll;
  width: 100%;
  transition: 0.8s ease;
}
.sidebar a {
  text-decoration: none;
  font-size: 1.5rem;
}
.sidebar li {
  list-style: none;
}

.sidebar a:link,
.sidebar a:visited {
  color: rgb(40, 116, 240);
}

.sidebar a:active {
  color: #1c51a8;
}

.close-sidebar {
  font-size: 2.5rem;
}

.docs-content {
  flex: 3;
  width: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 100%;
  padding: 1rem;
}
.component {
  border-bottom: 2px solid var(--primary-color);
}
/* .padding-bottom {
  padding-bottom: 3rem;
} */

.alert {
  margin: 1rem 0;
}

.badge-container {
  margin: 1rem 0;
}

.badge-container > img {
  width: 100%;
}

.float-button {
  position: relative;
  top: 0;
  left: 0;
}

.card-container-horizontal {
  max-width: 95%;
  margin: auto;
}

.img-container {
  width: 10rem;
}

.input-box {
  width: 50%;
}

.modal-container {
  position: static;
}

.col1,
.col2 {
  text-align: justify;
}

.text-left,
.text-right,
.text-center,
.text-justify,
.text-lowercase,
.text-uppercase,
.text-capitalize,
.text-normal,
.text-bold,
.text-italic,
.text-large,
.text-small,
.text-tiny,
.text-muted {
  margin: 1rem 0;
}

@media screen and (min-width: 768px) {
  .navigation-transparent {
    height: 4rem;
  }
  .sidebar {
    flex: 1;
    display: block;
    width: 100%;
  }
  .docs-container {
    flex: 4;
  }
  .img-container {
    width: 20rem;
  }
  .close-sidebar {
    display: none;
  }
  .btn-click {
    display: none;
  }
}
